body {
    margin: 0;
    overflow: hidden;
    background-color: #AADDDE;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#gameCanvas {
    background-color: transparent;
    z-index: 1;
}

#waveCanvas {
    z-index: 0;
}

#hud {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333333;
    z-index: 2;
}

#wind-indicator {
    width: 100px;
    height: 100px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><circle cx="50" cy="50" r="48" stroke="#333333" stroke-width="2" fill="none"/><path d="M50 0 L50 10 M50 90 L50 100 M0 50 L10 50 M90 50 L100 50" stroke="#333333" stroke-width="2"/></svg>');
    background-size: contain;
    position: relative;
}

#wind-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
}


#speed-reading {
    margin-top: 10px;
    font-size: 24px;
    position: relative;
    z-index: 10;
}

#laps {
    margin-top: 10px;
    font-size: 24px;
}

#mini-map {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    border: 2px solid #333333;
    z-index: 2;
    background-color: rgba(170, 221, 222, 0.5); /* Semi-transparent water color */
}

#touch-controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 2;
}

.control-area {
    display: flex;
    flex-direction: column;
}

.control-area button {
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333333;
    border: 2px solid #333333;
    border-radius: 50%;
    pointer-events: auto;
}

#start-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#start-race {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

#countdown, #race-finished {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: 11;
}
